
/* Fonts */

@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header */

body {
    background-color: #10081A;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.dropdown-menu {
    background-color: #4c385d;
    border: 1px solid #7B57C2;
    min-width: 6rem;
}

.dropdown-item {
    color: #fff;
}

.header {
    padding-top: 25px;
    background: url('../images/header-bg.png') no-repeat center 0;
    position: relative;
    min-height: 600px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 454px;
    height: 462px;
    background: url('../images/code-bg.png') no-repeat 0 0;
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1289px;
    height: 231px;
    background: url('../images/logo-second.svg') no-repeat 0 0;
    z-index: -1;
}

.header__nav {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 34px;
    background-color: rgba(214, 167, 250, 0.3);
    border: 1px solid #7B57C2;
    border-radius: 40px;
    margin-left: 50px;
    margin-bottom: 0;
}

.navbar-toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 7px;
}

.navbar-toggler {
    position: relative;
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 0;
    box-shadow: none;
}

.navbar-toggler:before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    left: 7px;
    transition: transform .4s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 12px;
    left: 7px;
    transition: transform .4s ease;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: scale(0);
}

.navbar-toggler[aria-expanded="true"]:before {
    transform: rotate(45deg);
    top: 21px;
}

.navbar-toggler[aria-expanded="true"]:after {
    transform: rotate(-45deg);
    bottom: 21px;
}

.menu__item {
    position: relative;
}

.menu__item + .menu__item:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 9px;
    background-color: #fff;
    transform: translateY(-50%);
}

.menu__link {
    display: block;
    color: #D9D9D9;
    padding: 13px 19px;
    font-size: 14px;
    line-height: 1;
}

.menu__item:first-child .menu__link {
    padding-left: 0;
}

.menu__item:last-child .menu__link {
    padding-right: 0;
}


.menu__link:hover {
    /* color: #9420f2; */
    color:#111;
}

.language {
    width: 80px;
    height: 42px;
    margin-left: 24px;
    background-color: rgba(214, 167, 250, 0.3);
    border: 1px solid #7B57C2;
    border-radius: 40px;
    color: #D9D9D9;
    text-align: center;
}

.header__login {
    margin-left: auto;
    width: 91px;
    height: 40px;
}

.btn--action {
    border-radius: 10px;
    background-color: #9420F2;
    color: #fff;
    box-shadow: 0 0 44px rgba(159, 56, 210, 0.5);
}


.header__info {
    display: flex;
    justify-content: space-between;
    margin-top: 519px;
    color: #fff;
}

.header__text {
    font-size: 27px;
    max-width: 325px;
    line-height: 1.1;
    font-family: 'Helvetica Neue Cyr Medium';
}

.header__register {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-color {
    color: #9710FE;
}

.btn--register {
    background-color: #9420F2;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 44px rgba(159, 56, 210, 0.5);
}

.btn--link,
.btn--link:hover {
    color: #fff;
}

.btn--link:hover span {
    border: 0;
}

.btn--link span {
    border-bottom: 1px solid #fff;
}

/* Media */

@media (max-width: 1400px) {
    .menu__link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 991px) {
    .menu {
        display: block;
        margin-left: 0;
        background-color: rgba(214, 167, 250, 0.7);
        margin-bottom: 10px;
    }

    .header__info {
        display: block;
    }

    .header::after,
    .header::before {
        width: 100%;
    }

    .menu__item + .menu__item:before {
        display: none;
    }

    .menu__link {
        padding-left: 0;
        font-size: 18px;
        color: #111;
    }

    .language {
        margin-left: 0;
    }

    .navbar-collapse {
        text-align: center;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    .header__text {
        margin-bottom: 15px;
    }

    .header__register {
        align-items: flex-start;
    }
}