html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #444444;
    font: 400 15px/1.6 'Open Sans', sans-serif;
}

.container {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.section-page {
    padding-bottom: 120px;
}

.section-title {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 64px;
    font-family: "Bahnschrift", sans-serif;
}

.section-title--page {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease;
    line-height: 1;
}

.btn--primary {
    background-color: #474747;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.btn--primary:hover {
    background-color: #FFE4C4;
    color: #323232;
}

/* Dropdown */

.dropdown {
	position: relative;
	width: 124px;
    /* height: 32px; */
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
    overflow: hidden;
}
option,
select {
	color: #323232;
	padding-left: 8px;
    padding-right: 8px;
	padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: inherit;
    outline: none;
    text-overflow: ellipsis;
}
option {
    width: 100px;
}
.dropdown:focus,
.dropdown:hover {
	/* border: 1px solid red; */
	color: black;
}
.dropdown select{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	width: 98px;
	background: none;
}

.dropdown select::-ms-expand {
   display: none;
}

.dropdown:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/icons/arrow.svg') no-repeat center;
    transform: translateY(-50%);
}

.dropdown select:focus {
    width: 100%;
}