/* Categories */

.categories__list{
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry; */
    column-count: 2;
    column-gap: 20px;
}

.categories__item{
    position: relative;
    margin-top: 20px;
}

.categories__item:first-child {
    margin-top: 0;
}

.categories__link{
    background-color: rgba(29, 28, 31, 0.7);
    padding: 15px 25px;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    display: inline-block;
    line-height: 1;
    position: absolute;
    bottom: 24px;
    left: 24px;
    text-transform: uppercase;
    border: 1px solid #fff;
    transition: all .4s ease;
}

.categories__link:hover {
    border-color: #444444;
    background-color: rgba(255, 228, 196, 0.7);
    color: #323232;
}