.empty__body {
    text-align: center;
}

.empty__title {
    margin-bottom: 25px;
    font-size: 46px;
    font-weight: 500;
    text-transform: uppercase;
}

.empty__title--search {
    font: 300 24px 'Bahnschrift', sans-serif;
    text-align: left;
}

.empty__desc {
    max-width: 434px;
    margin: 0 auto 35px;
    font-size: 18px;
    font-weight: 300;
    color: #323232;
}

.input-search {
    max-width: 400px;
    padding: 13px 12px;
    border: 1px solid #DDDDDD;
    font-size: 13px;
}

.input-search::placeholder {
    color: #A9A9A9;
}