.about {
    padding: 64px 0;
}

.about__wrap {
    display: flex;
    gap: 40px;
}

.about__photo {
    width: 500px;
}

.about__text {
    width: 695px;
    line-height: 1.6;
}

.about__text p+p {
    margin-top: 18px;
}