.order-confirm__wrap {
    padding: 32px 40px;
    border: 1px solid #F1F1F1;
}

.order-confirm__item {
    margin-bottom: 20px;
}

.order-confirm__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.order-confirm__value {
    font-weight: 500;
}

.order-confirm__text {
    margin-bottom: 40px;
}

.order-confirm p {
    margin: 20px 0;
}