/* Insta */

.insta__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 460px) {
    .insta__list {
        grid-template-columns: repeat(1, 1fr);
    }
}