/* Products */

.products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 20px;
}

.products__list--catalog {
    margin-bottom: 64px;
}

.product-card {
    font-family: 'Century Gothic', sans-serif;
}

.product-card__title {
    max-height: 44px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     border-bottom: 1px solid transparent;
        transition: all .4s ease;
     overflow: hidden;
}

.product-card-link:hover .product-card__title{
    border-bottom-color: #444;
}


.product-card__price {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.product-card__btn {
    width: 100%;
}

@media (max-width: 960px) {
    .products__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .products__list {
        grid-template-columns: repeat(2, 1fr);
    }
}