.result__body {
    display: flex;
} 

.result__filter {
    min-width: 250px;
}

.result__products {
    /* flex-basis: 703px; */
    flex-basis: 100%;
}

.result__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.result__info span {
    font: 300 20px 'Bahnschrift', sans-serif;
    text-transform: uppercase;
}

.result .products__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
   justify-content: space-between;
}

.filter__title {
    margin-bottom: 16px;
    font: 400 14px 'Century Gothic', sans-serif;
}

.filter {
    font-family: 'Century Gothic', sans-serif;
}

.filter__active-wrap {
    padding-bottom: 32px;
}

.filter__active-item {
    max-width: 130px;
    margin-bottom: 16px;
    padding: 4px 24px 4px 8px;
    background-color: #F6F6F6;
    color: #323232;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.filter__active-item:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    background: url('../../img/icons/delete-icon.svg') no-repeat;
    transform: translateY(-50%);
}

.filter__active-close {
    padding: 0;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 11px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #444444;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-box {
    padding: 10px 30px 32px 10px;
    font-size: 14px;
    border-bottom: 1px solid #F1F1F1;
}

.filter__box-title {
    margin-bottom: 15px;
}

.filter-box__count {
    font-size: 12px;
    color: #A9A9A9;
    vertical-align: top;
}