
body {
    font: 1rem/1 "Roboto", sans-serif;
}

.header__container {
    position: relative;
    height: 100vh;
}

/* Base */

img {
    max-width: 100%;
}

/* Preloader */

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(27, 143, 79);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    animation: 1s ease-out infinite alternate loader-pulse;
}

@keyframes loader-pulse {
    0%{
        opacity: 1;
    }

    100% {
        opacity: .1;
    }
}

/* Header */

.header {
    position: relative;
    height: 100vh;	
}

.header__main {
    position: relative;
    z-index: 50;
}

.header__main {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    padding-top: 40px;
    position: relative;
    z-index: 20;
}

.navbar-brand {
    font-size: 1.3rem;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

.nav-link {
    color: rgba(255,255,255,0.9);
    font-family: Oswald, sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
}

.nav-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 1);
    transition: width .3s;
    position: relative;
    bottom: -10px;
}

.nav-link:hover {
    color: rgba(255,255,255,1);
}

.nav-link:hover:after {
    width: 100%;
}

.nav-item+.nav-item {
    margin-left: 20px;
}

.nav-link.active {
    color: #fff !important;
}



.header__title {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
}

.header__mouse {
    width: 20px;
    height: 36px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;
}

.header__mouse:before {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    bottom: 25px;
    width: 4px;
    height: 8px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    z-index: 100;
    animation: scroll 3s -1s cubic-bezier(.68,-.55,.265,1.55) infinite;
}

@keyframes scroll {
    0%,20% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(36px);
        opacity: .07;
    }
}


.header__social {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
    transform: translate(0, -50%);
}

.header__social:before,
.header__social:after {
    content: '';
    position: absolute;
    top: -50%;
    left: 50%;
    width: 3px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(-50%, -50%);
    z-index: 50;
}

.header__social:after {
    top: auto;
    bottom: -50%;
    transform: translate(-50%, 50%);
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-item+.social-item {
    margin-top: 20px;
}

.social-link {
    color: #fff;
    font-size: 1.2rem;
}

.social-link:hover i {
    color: #99f5ad;
}

/* Swiper */

.header__swiper {
    position: absolute !important;
    top: 0;
    left: 0;
}

.swiper {
    height: 100vh;
    width: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.img-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.img-box.one {
    background: url(../images/slide-1.jpg);
    background-position: center;
    background-size: cover;
}

.img-box.two {
    background: url(../images/slide-2.jpg);
    background-position: center;
    background-size: cover;
}

.img-box.three {
    background: url(../images/slide-3.jpg);
    background-position: center;
    background-size: cover;
}

.header__scrollbar {
    pointer-events: all;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 150px;
    transform: rotate(-90deg) translate(50%, -100%);
    transform-origin: 100% 0;
    z-index: 10;
}

.header__scrollbar>.swiper-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0;
    height: 2px;
}

.swiper-scrollbar-drag {
    background-color: #fff !important;
    border-radius: 0;
}

.section {
    padding-top: 100px;
    overflow: hidden;
}

.section-title {
    padding-bottom: 15px;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
    font-family: Oswald, sans-serif;
}

.section-title>span {
    position: relative;
}

.section-title>span:before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-image: linear-gradient(to right, #fff, #e74c3c 30%, #fff 50%)
}

.section-title>span, .about-title>span {
    color: #e74c3c;
}

/* About */

.about {
    background-image:     -ms-linear-gradient(to bottom, #f5f5f5, transparent); 
    background-image:      -o-linear-gradient(to bottom, #f5f5f5, transparent);
    background-image:      -webkit-linear-gradient(to bottom, #f5f5f5, transparent);
    background-image:      -moz-linear-gradient(to bottom, #f5f5f5, transparent);
    background-image:      linear-gradient(to bottom, #f5f5f5, transparent);
}

.about-title {
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
}

.about-text {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.4;
}

.about-photo {
    border-radius: 50px 100px 50px 100px;
    box-shadow: 0px 0px 0px #131313;
}

.about-info {
    margin-bottom: 70px;
}

.about-info-list {
    margin: 0 0 20px 0;
    padding: 0;
}

.about-info-list li {
    list-style: none;
}

.about-info-list li+li {
    margin-top: 10px;
}

.about-info-list li>span {
    font-weight: 600;
    display: inline-block;
    min-width: 100px;
}

.about-info-list a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted;
    transition: all .3s ease;
}

.about-info-list a:hover {
    border-bottom-color: transparent;
    font-weight: 600;
}

.btn-download {
    background: #e74c3c;
    color: #fff;
    font-family: Oswald, sans-serif;
}

.btn-download:hover {
    background-color: #d84939;
    color: #fff;
    box-shadow: 1px 5px 12px rgba(0,0,0, 0.15);
}

/* Skills */

.skill {
    display: inline-block;
    padding: 20px 0;
    width: 48%;
}

.skills-title {
    font-family: Oswald, sans-serif;
}

.skill__title {
    font-weight: 700;
    margin-bottom: 20px;
}

.skill-box {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ccc;
    overflow: hidden;
}

.skill-progress {
    text-align: center;
    border-radius: 10px;
    width: 0%;
    height: 100%;
    background-color: #d84939;
    color: #fff;
    line-height: 30px;
}

/* Portfolio */

.work-item {
    padding: 20px 0 0 0;
    position: relative;
}

.work-item>img {
    border-radius: 10px;
    width: 356px;
    height: 232px;
}

.work-overlay {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: 10px;
    background: rgba(169, 197, 27, 0.75);
    color: #fff;
    transition: transform .4s ease, opacity .6s ease;
    transform: scale(0);
}

.work-overlay-inner {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.work-overlay-inner>a {
    display: flex;
    width: 100%;	
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.work-overlay-inner i {
    color: #fff;
}

.work-item:hover .work-overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Testimonials */


.testimonials {
    position: relative;
    height: 600px;
}

.testimonial-slider {
    margin-top: 20px;
}

.testimoinial-item-single {
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.testimonials .testimonial-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.testimonial-item {
    padding-bottom: 50px;
}

.testimonial-item p {
    position: relative;
}

.testimonial-item p:before {
    display: inline-block;
    margin-right: 10px;
    content: '\f10d';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.testimonial-item p:after {
    display: inline-block;
    margin-left: 10px;
    content: '\f10e';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.testimonial-item p {
    font-style: italic;
    margin-top: 50px !important;
}

.testimonial-item h5 {
  margin: 20px 0 15px;
  font-weight: 600;
  font-size: 20px;
}

.testimonial-item p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 25px;
}

.testimonials .tns-nav {
  text-align: center;
  position: absolute;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  left: 50%;
  z-index: 10;
}

.testimonials .tns-nav button {
  height: 10px;
  width: 10px;
  background-color: #ccc;
  display: inline-block;
  border: none;
  border-radius:10px;
  margin: 0px 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.testimonials .tns-nav button.tns-nav-active {
  width: 30px;
  background-color: #e74c3c;
}

.tns-outer [data-action] {
    display: none;
}

/* Contacts */


.contacts-wrap {
    padding-bottom: 100px;
}

.contacts-title {
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    position: relative;
}

.contacts-title:before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -5px;
    width: 200px;
    height: 2px;
    background-image: linear-gradient(to right, #fff, #e74c3c 30%, #fff 50%)
}

.contact-info {
    padding-left: 30px;
    padding-right: 30px;
}

.contacts-desq {
    margin-bottom: 20px;
    line-height: 1.3;
}

.contact-line>h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-line>p {
    font-size: 14px;
}

.contact-line a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted;
    transition: all .3s ease;
}

.contact-line a:hover i {
    color: #e74c3c;
}

.contact-line a:hover {
    border-bottom-color: transparent;
    font-weight: 600;
}

.form-control {
    box-shadow: inset 1px 1px 5px #f1f1f1;
}

/* to-top */

#to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #e74c3c;
    color: #fff;
    padding: 0;
    line-height: 1;

}

/* Footer */

.footer {
    padding: 40px 0;
    color: #fff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright>p {
    margin: 0;
}

.footer-copyright a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
}

/* Media */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:focus {
    box-shadow: none;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--slider .hamburger-inner {
    top: 2px;
}

.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
    top: 20px;
}

.hamburger--slider[aria-expanded=true] .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider[aria-expanded=true] .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider[aria-expanded=true] .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media (max-width: 991px) {
    body.lock {
        overflow: hidden;
    }
    body.lock .navbar {
        z-index: 100;
    }
    .nav-item+.nav-item {
        margin-left: 0;
        margin-top: 20px;
    }
    .navbar-toggler {
        z-index: 100;
    }
    .navbar-collapse {
        border-radius: 0 0 10px 10px;
        background-color: rgba(0,0,0, 0.8);
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 1px 1px 10px #121212;
    }
}

@media (max-width: 800px) {
    .header__title {
       font-size: 1.5rem;
       max-width: 50%; 
    }
}

@media (max-width: 767px) {
    .about-text {
        margin-top: 30px;
    }
    .contact-info {
        padding-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 479px) {
    .header__social {
        left: 10px;
    }
    .skill {
        display: block;
        width: 95%;
    }
}

@media (max-height: 500px) {
    .header__social:before, .header__social:after {
        display: none;
    }
}