html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

body {
    font-family: Noah, sans-serif;
    font-size: 16px;
    color: #fff;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    z-index: 10;
}

.header {
    border-radius: 30px;
    background-color: #37B34A;
    background-image: url('../images/header-bg.png');
    position: relative;
    /* height: 589px; */
    min-height: 100vh;
}

.nav,
.nav-secondary {
    padding-top: 35px;
}

.nav-secondary {
    margin-left: 200px;
}

.nav__link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.nav__link+.nav__link {
    margin-left: 69px;
}

.header__logo {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -19px)
}

.header-content {
    margin-top: 45px;
}

.header::after {
    content: '';
    position: absolute;
    top: -15px;
    right: -20px;
    z-index: 0;
    width: 621px;
    height: 628px;
    background-image: url('../images/header-img.png');
    background-repeat: no-repeat;
}

.title {
    margin-bottom: 25px;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}

.subtitle {
    padding-left: 34px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.subtitle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #fff;
}

.section-desq {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 54px;
}
.section-desq p+p {
    margin-top: 25px;
}

.btn-order {
    /* margin-top: 54px; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #37B34A;
    background-color: #fff;
    border-radius: 200px;
    padding: 20px 70px 20px 25px;
    display: inline-block;
    box-shadow: 0px 96px 27px 0px rgba(35, 134, 49, 1%), 
                0px 61px 24px 0px rgba(35, 134, 49, 6%), 
                0px 34px 21px 0px rgba(35, 134, 49, 20%), 
                0px 15px 15px 0px rgba(35, 134, 49, 34%), 
                0px 4px 8px 0px rgba(35, 134, 49, 39%);
                position: relative;
}

.btn-order::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    width: 44px;
    height: 44px;
    transform: translate(0, -50%);
    background-image: url('../images/btn-order-icon.png');
}

.text-bg {
    display: inline-block;
    padding: 10px 15px 10px 0;
    background-color: #30A642;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
}

.text-bg::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -70px;
    width: 100%;
    background-color: #30A642;
    z-index: -1;
}

.top-mobile {
    display: none;
    border-radius: 200px;
    background-color: #37B34A;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0px 96px 27px 0px rgba(0, 0, 0, 0%), 0px 61px 24px 0px rgba(0, 0, 0, 1%), 0px 34px 21px 0px rgba(0, 0, 0, 5%), 0px 15px 15px 0px rgba(0, 0, 0, 9%), 0px 4px 8px 0px rgba(0, 0, 0, 10%);
}

.logo-mobile img {
    vertical-align: top;
}

.menu-btn {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu-btn__line::before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}

.menu-btn__line::after {
    content: '';
    width: 14px;
    height: 2px;
    background-color: #fff;
    display: block;
}

.btn-order-mobile {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn-order-mobile::after {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    background-image: url('../images/order-icon-mobile.png');
}

.offer {
    background-color: #0B3E12;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 30px;
    margin-top: 30px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.text-bg.text-small {
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
}

.text-bg span {
    margin-left: 10px;
}

.text-bold {
    font-weight: 800;
}

.alt-price {
    text-decoration: line-through;
    opacity: 50%;
}

.offer__timer {
    padding: 40px 48px;
    border-radius: 30px;
    background-color: #37B34A;
    position: relative;
}

.offer__timer::before {
    content: '';
    width: 146px;
    height: 119px;
    background-image: url('../images/aktia.png');
    position: absolute;
    top: -60px;
    right: 0;
}

.timer__wrap {
    margin-bottom: 30px;
}

.timer__title {
    margin-bottom: 24px;
    text-transform: uppercase;
}

.timer__item {
    margin-bottom: 16px;
    padding-right: 54px;
}

.timer__item:last-child {
    padding-right: 0;
}

.timer__item+.timer__item {
    padding-left: 54px;
    background-image: url('../images/line.png');
    background-repeat: no-repeat;
}

.timer__value {
    text-align: center;
}

.timer__value span {
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.text-number {
    display: inline-block;
    min-width: 26px;
    min-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #37B34A;
    border-radius: 50%;
    font-weight: 600;
}

/* Media */

@media (max-width: 1340px) {
    .nav__link+.nav__link {
        margin-left: 20px;
    }
    .nav-secondary {
        margin-left: auto;
    }
    .title-h2 {
        font-size: 40px;
    }
}

@media (max-width: 1060px) {
    .header-top {
        display: none;
    }
    .header {
        background-image: none;
    }
    .top-mobile {
        display: flex;
    }
    .title {
        font-size: 55px;
    }
    .header-content {
        margin-top: 10px;
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .header::after {
        background-image: url('../images/header-img-mobile.png');
        bottom: -56px;
        left: 50%;
        top: auto;
        right: auto;
        width: 386px;
        height: 525px;
        transform: translateX(-50%);
    }
}

@media (max-width: 800px){
    .title, .title-h2{
        font-size: 32px;
    }
    .section-desq{
        font-size: 24px;
    }
    .offer {
        padding-bottom: 100px;
    }
    .offer__timer::before {
        top: auto;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .offer__text, .offer__timer {
        width: 100%;
    }
    .timer__wrap {
        margin-bottom: 24px;
    }
    .timer__value span {
        font-size: 26px;
    }
    .timer__item {
        padding-right: 18px;
    }
    .timer__item+.timer__item {
        padding-left: 18px;
    }
    .timer__desq {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .timer__btn {
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .offer__timer {
        padding: 20px 28px;
    }
    .timer__value span {
        font-size: 18px;
    }
    .timer__item {
        padding-right: 10px;
    }
    .timer__item+.timer__item {
        padding-left: 10px;
    }
}

@media (max-width: 420px){
    .wrapper {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .top-mobile {
        display: flex;
    }
    .header {
        min-height: auto;
    }
    .header-content {
        margin-top: 10px;
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .subtitle {
        max-width: 220px;
    }
    .subtitle::before {
        margin-top: -10px;
    }
    .title{
        font-size: 32px;
    }
    .section-desq{
        font-size: 24px;
    }
    .text-bg::before {
        left: -30px;
    }
    .text-bg.text-small {
        font-size: 24px;
    }
    .header__desq {
        margin-bottom: 265px;
    }
    .btn-order {
        margin-left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}