/* Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

input, textarea {
    outline: none;
    border: none;
    font-family: inherit;
}

textarea {
    resize: vertical;
}

/* Page style */

body {
    background-color: #171717;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
    max-width: 1147px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.cell-3 {
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
}

.cell-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.cell-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.slicknav_menu {
  display: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-download {
    border: 1px solid #fff;
    transition: all.4s ease;
}

.btn-download:hover {
    border-color: transparent;
    background-color: #e95252;
    color: #fff;
}

.btn-more {
     border: 1px solid #fff;
     transition: all.4s ease;
     border-radius: 5px;
}

.btn-more:hover {
    border-color: transparent;
    background-color: #e95252;
    color: #fff;
}

.btn-submit {
    border-radius: 5px;
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    transition: all.4s ease;
}

.btn-submit:hover {
    border-color: transparent;
    background-color: #030303;
}

.header {
    height: 100vh;
}

.header-top {
    padding: 20px 0;
}

.nav {
    color: #fff;
    text-transform: uppercase;
}

.nav>li+li{
    margin-left: 30px;
}

.nav a {
    transition: color .4s ease;
}

.nav a:hover {
    color: #e95252;
}

.logo {
    margin: 0 auto;
}

.header-contacts {
    color: #e95252;
    font-size: 20px;
    background: url(../img/phone.png) no-repeat left center;
    margin-left: auto;
    padding: 8px 38px;
}

.header-contacts a {
    border-bottom: 1px dotted transparent;
    transition: all .4s ease;
}

.header-contacts a:hover {
    border-bottom: 1px dotted #e95252;
}

.header:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    z-index: -1;
    background: url(../img/man.jpg) no-repeat 0 0/cover;
}

.header-main {
    margin-top: 200px;
    color: #fff;
}

.header-main>span {
    font-size: 25px;
    text-transform: uppercase;
}

.header-main>h1 {
    margin: 30px 0;
    font-size: 50px;
}

.my-desc {
    font-size: 25px;
}

.color {
    color: #e95252;
}

.my-social {
    margin-top: 30px;
}

.my-social>li {
    width: 32px;
    height: 32px;
}

.my-social>li+li {
    margin-left: 20px;
}

.my-social>li>a {
    display: block;
    height: 100%;
    border-radius: 50%;
    will-change: box-shadow;
    transition: box-shadow .4s ease;
}

.my-social>li>a:hover {
    box-shadow: 1px 1px 10px #ccc;
}


.facebook-link {
    background: url(../img/facebook.png) no-repeat top left;
}

.twitter-link {
    background: url(../img/twitter.png) no-repeat top left;
}

.insta-link {
    background: url(../img/instagram.png) no-repeat top left;
}

.youtube-link {
    background: url(../img/youtube.png) no-repeat top left;
}

.mouse {
    width: 20px;
    height: 36px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
}

.mouse:before {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    bottom: 25px;
    width: 6px;
    height: 6px;
    pointer-events: none;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    z-index: 100;
    animation: scroll 2s -1s cubic-bezier(.68,-.55,.265,1.55) infinite;
}

.section {
    padding: 70px 0;
}

.section-title {
    color: #e95252;
    margin-bottom: 50px;
    padding-bottom: 15px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.section-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    /* background-color: #e95252; */
    background-image: linear-gradient(to right, transparent, #e95252 50%, transparent);
}

.about-photo {
    border-radius: 10px;
    box-shadow: 1px 1px 10px #030303;
}

.about-text {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
}

.about-text p+p {
   margin-top: 20px; 
}

.about-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-list {
    margin: 50px 0;
}

.about-list li+li {
    margin-top: 20px;
}

.about-list li>span {
    display: inline-block;
    width: 25%;
    font-weight: 600;
}

.about-link {
    border-bottom: 1px dotted #fff;
}

.about-link:hover {
    color: #ccc;
    border-bottom: none;
}

/* Service */

.service-item {
    padding: 30px;
    text-align: center;
    color: #fff;
    background-color: #000;
    background-image: linear-gradient(to bottom, #161616, #000);
    border-radius: 10px;
    box-shadow: 1px 1px 10px #030303;
}

.service-img {
    text-align: center;
}

.service-title {
    margin: 20px;
    font-size: 18px;
    font-weight: 900;
}

.service-desq {
    line-height: 1.3;
}

.service-item .btn-more {
    margin-top: 50px;
}

/* Portfolio */

.portfolio-filter {
    margin-top: 50px;
    margin: 0 auto;
    color: #fff;
}

.portfolio-filter>li {
    margin: 0 15px;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 9px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease;
}

.portfolio-filter>li:hover, .portfolio-filter>li.active {
    background-color: #fff;
    color: #e95252;
}

.portfolio-list {
    margin-top: 50px;
}

.portfolio-item {
    margin: 15px 0;
    position: relative;
}

.portfolio-item-info {
    position: absolute;
    background: rgba(219, 15, 15, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
    overflow: hidden;
}

.portfolio-item-info>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: #171717;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.portfolio-item-info>a:before {
    content: '+';
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .portfolio-item-info {
    visibility: visible;
    opacity: 1;
}

/* Contacts */

.form-control {
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.footer {
    background-color: #030303;
    padding: 20px 0;
}

.footer-text {
    text-align: center;
    color: #fff;
}

.footer-text a {
    border-bottom: 1px dotted #fff;
    transition: border,color .4s ease;

}

.footer-text a:hover {
    color: #e95252;
    border-bottom-color: #e95252;
}

@keyframes scroll {
    0%,20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(36px);
        opacity: .05;
    }
}

/* Animated headlines */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

/* Media */

@media (max-width: 991px) {
    .header-top {
        padding-left: 20px;
    }
    .nav>li+li {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    
    .d-flex{
       flex-wrap: wrap;
    }

    .cell-3 {
        width: 100%;
    }

    .header-top {
        position: relative;
        z-index: 1000;
    }

    .slicknav_menu {
        display: block;
        margin-left: auto;
    }
    .nav {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .about-text {
        font-size: 14px;
    }

    .about-list {
        margin: 20px 0;
    }

    .service-item {
        margin: 30px 0;
    }

    .portfolio {
        overflow: hidden;
    }

    .portfolio-filter>li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .portfolio img {
        max-width: 70%;
        display: block;
        margin: auto;
    }
}

@media (max-width: 479px) {
    .cell-6 {
        width: 100%;
    }

    .header-main {
        margin-top: 50px;
    }

    .about-text {
        padding-top: 20px;
    }

}

