html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font: 500 16px/1.2 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
}

.text-color {
    color: #00E56D;
}

.btn {
    display: inline-block;
    padding: 16px 24px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .4s ease;
}

.btn--primary {
    background-color: #00E56D;
    color: #000;
    border-radius: 999px;
}

.btn--primary:hover {
    background-color: #B01235;
    color: #fff;
}

.btn-menu {
    position: relative;
    width: 48px;
    height: 48px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.btn-menu::before,
.btn-menu::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff; 
}

.btn-menu::after {
  top: 28px;
}



/* Header */

.header {
    min-height: 100vh;
    background: url('../img/bg.png') no-repeat 0 0/cover;
}

.header__top {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
}

.header__info-text {
    max-width: 325px;
}

.rating-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.social {
    display: flex;
    gap: 8px;
}

.social__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #3B3B3B;
    border-radius: 50%;
    transition: all .4s ease;
}

.social__link:hover {
    border-color: transparent;
    background-color: #00E56D;
}

.menu {
    display: flex;
    gap: 24px;
}

.menu__link {
    padding: 5px 0;
    transition: color .4s ease;
}

.menu__link:hover {
    color: #00E56D;
}

.header__main {
    padding-top: 129px;
    padding-left: 115px;
}

.header__title {
    max-width: 695px;
    font-size: 88px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -2px;
}

/* Integrate */

.section-title {
    font-size: 120px;
    font-weight: 600;
}

.section-title--color {
    color: #00E56D;
}

.section-title--work {
    font-size: 96px;
}

.integrate {
    padding-top: 212px;
    padding-bottom: 118px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.ship__services {
    margin-top: 141px;
}

.services__item {
    padding: 36px 60px;
    border: 1px solid #2C2C2C;
    border-radius: 24px;
    margin-bottom: 64px;
}

.services__item:nth-child(2) {
    margin-top: 50px;
}

.services__item:nth-child(3) {
    margin-top: 100px;
}

.services__icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

/* Ship */

.ship {
    padding-top: 109px;
    padding-bottom: 80px;
    text-align: center;
}

/* Works */

.works {
    padding: 80px 0;
}

.works__title {
    font-size: 96px;
    font-weight: 600;
}

.works__list {
    margin-top: 64px;
}

.works__item {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-height: 96px;
    padding: 20px 0;
    border-bottom: 2px solid #2C2C2C;
    overflow: hidden;
    cursor: pointer;
    transition: max-height .4s ease;
}

.works__item:first-child {
    border-top: 2px solid #2C2C2C;
}

.works__item--active {
    opacity: 1;
}

.works__desc {
    flex: 0 0 436px;
}

.works__image-wrap {
    flex: 0 1 800px;
    position: relative;
    overflow: hidden;
}

.works__desc-title {
    font-size: 48px;
    font-weight: 500;
    color: #2C2C2C;
    max-width: 436px;
    margin-bottom: 84px;
    transition: color .4s ease;
}

.works__title:hover {
    color: #fff;
}

.works__subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #727272;
    margin-bottom: 16px;
}

.works__image-wrap,
.works__image-pic {
    border-radius: 24px;
}

.works__service-name {
    min-width: 140px;
    padding: 12px 27px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 999px;
    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 1;
    text-align: center;
}

.works__desc-line {
    margin-bottom: 40px;
}

/* Media */

@media (max-width: 1080px) {
    .header {
        min-height: auto;
    }
    .section-title {
        font-size: 90px;
    }
}

@media (max-width: 860px) {

    .header__main {
        padding-left: 50px;
    }

    .header__title {
        max-width: 550px;
        font-size: 58px;
    }

    .menu {
        position: absolute;
        transform: translateY(-200%);
        background-color: #000;
        padding: 30px 0;
        left: 0;
        right: 0;
        top: 120px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        transition: all .4s ease;
    }

    .btn-menu {
        display: block;
    }

    .menu--active {
        transform: translateY(0);
    }

    .section-title {
        font-size: 70px;
    }

    .integrate {
        padding-top: 104px;
        padding-bottom: 64px;
    }

    .ship {
        padding-top: 0;
    }

    .services__item {
        padding: 15px 25px;
        margin-bottom: 30px;
    }

    .services__name {
        font-size: 12px;
    }

}

@media (max-width: 667px) {

    .header__main {
        padding-top: 100px;
        padding-left: 0;
    }

    .header__info {
        margin-top: 100px;
    }

    .header__title {
        max-width: 365px;
        font-size: 40px;
    }

    .header__info {
        flex-wrap: wrap;
    }

    .header__info-text {
        order: -1;
        align-self: flex-start;
        margin-top: -80px;
        flex: 0 0 100%;
        font-size: 14px;
        max-width: none;
        padding-right: 140px;
        padding-bottom: 140px;
    }

    .section-title {
        font-size: 48px;
    }

    .services__icon {
        width: 50px;
        height: 50px;
    }

    .services {
        gap: 10px;
    }

    .works__title {
        font-size: 48px;
    }

    .works__item {
        position: relative;
        min-height: 96px;
    }

    .works__item--active {
        flex-wrap: wrap;
        position: relative;
    }

    .works__desc {
        flex-basis: 150px;
    }

    .works__service-name {
        background-color: rgba(255, 255, 255, 0.16);
        right: 0;
        left: auto;
    }

    .works__desc-title {
        position: absolute;
        top: 30px;
        font-size: 24px;
    }

    .works__image-pic {
        margin-top: 85px;
        display: none;
    }

    .works__subtitle {
        font-size: 8px;
    }

    .works__desc-line {
        display: none;
    }

    .works__desc-value {
        font-size: 10px;
    }

    .works__image-pic--active,
    .works__desc-line--active {
        display: block;
    }

    .works__desc--active {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }

    .works__image-wrap--active {
        order: -1;
    }

}