html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

body {
    font-family: Noah, sans-serif;
    font-size: 16px;
    color: #fff;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    z-index: 10;
}

.header {
    border-radius: 30px;
    background-color: #37B34A;
    background-image: url('../images/header-bg.png');
    position: relative;
}

.nav,
.nav-secondary {
    padding-top: 35px;
}

.nav-secondary {
    margin-left: 200px;
}

.nav__link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.nav__link+.nav__link {
    margin-left: 69px;
}

.header__logo {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -19px)
}

.header-content {
    margin-top: 80px;
    padding-bottom: 75px;
}

.header::after {
    content: '';
    position: absolute;
    top: -17px;
    right: -20px;
    z-index: 0;
    width: 621px;
    height: 628px;
    background-image: url('../images/header-img.png');
    background-repeat: no-repeat;
}

.title {
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}

.subtitle {
    padding-left: 34px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.subtitle:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #fff;
}

.section-desq {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 54px;
}
.section-desq p+p {
    margin-top: 30px;
}

.btn-order {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #37B34A;
    background-color: #fff;
    border-radius: 200px;
    padding: 20px 70px 20px 25px;
    display: inline-block;
    box-shadow: 0px 96px 27px 0px rgba(35, 134, 49, 1%), 
                0px 61px 24px 0px rgba(35, 134, 49, 6%), 
                0px 34px 21px 0px rgba(35, 134, 49, 20%), 
                0px 15px 15px 0px rgba(35, 134, 49, 34%), 
                0px 4px 8px 0px rgba(35, 134, 49, 39%);
                position: relative;
}

.btn-order::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    width: 44px;
    height: 44px;
    transform: translate(0, -50%);
    background-image: url('../images/btn-order-icon.png');
}

.text-bg {
    display: inline-block;
    padding: 10px 15px 10px 0;
    background-color: #30A642;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
}

.text-bg::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -70px;
    width: 100%;
    background-color: #30A642;
    z-index: -1;
}

.top-mobile {
    display: none;
    border-radius: 200px;
    background-color: #37B34A;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0px 96px 27px 0px rgba(0, 0, 0, 0%), 0px 61px 24px 0px rgba(0, 0, 0, 1%), 0px 34px 21px 0px rgba(0, 0, 0, 5%), 0px 15px 15px 0px rgba(0, 0, 0, 9%), 0px 4px 8px 0px rgba(0, 0, 0, 10%);
}

.logo-mobile img {
    vertical-align: top;
}

.menu-btn {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn__line::before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
}

.menu-btn__line::after {
    content: '';
    width: 14px;
    height: 2px;
    background-color: #fff;
    display: block;
}

.btn-order-mobile {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn-order-mobile::after {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    background-image: url('../images/order-icon-mobile.png');
}

.offer {
    background-color: #0B3E12;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 30px;
    margin-top: 30px;
}

.offer__text {
    width: 550px;
}

.title-h2 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.text-bg.text-small {
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
}

.text-bg span {
    margin-left: 10px;
}

.text-bold {
    font-weight: 800;
}

.alt-price {
    text-decoration: line-through;
    opacity: 50%;
}

.offer__timer {
    padding: 40px 48px;
    border-radius: 30px;
    background-color: #37B34A;
    position: relative;
}

.offer__timer::before {
    content: '';
    width: 146px;
    height: 119px;
    background-image: url('../images/aktia.png');
    position: absolute;
    top: -60px;
    right: 0;
}

.timer__wrap {
    margin-bottom: 30px;
}

.timer__title {
    margin-bottom: 24px;
    text-transform: uppercase;
}

.timer__item {
    margin-bottom: 16px;
    padding-right: 54px;
    min-width: 110px;
}

.timer__item:last-child {
    padding-right: 0;
}

.timer__item+.timer__item {
    padding-left: 54px;
    background-image: url('../images/line.png');
    background-repeat: no-repeat;
}

.timer__value {
    text-align: center;
}

.timer__value span {
    display: block;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.text-number {
    display: inline-block;
    min-width: 26px;
    min-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    color: #37B34A;
    border-radius: 50%;
    font-weight: 600;
}

/* Advantages */

.advantages {
    background-color: #37B34A;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 85px;
    background-color: #37B34A;
}

.advantages__wrap {
    padding-bottom: 100px;
    background: url(../images/section-line.png) no-repeat left bottom;
}

.advantages__main {
    flex: 0 0 570px;
}

.advantages__desq {
    margin-left: 60px;
}

.advantages__list {
    margin-top: 65px;
}

.advantages__item {
    max-width: 290px;
    padding-right: 20px;
    padding-bottom: 35px;
}

.advantages__item-icon {
    margin-bottom: 16px;
}

.advantages__item-title {
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.advantages__footer {
    padding-top: 90px;
}

.instructions {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3 {
    max-width: 400px;
    padding-right: 15px;
}

.col-3+.col-3 {
    margin-left: 15px;
}

.col-bg {
    border-radius: 30px;
    background-color: #30A642;
    padding: 20px 70px;
    background: #30A642 url('../images/col-icon.png') no-repeat 10px 10px;
}

.col-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.col-bg__title {
    margin-left: 20px;
}

.col-desq {
    margin-bottom: 24px;
}

.list-disc li {
    position: relative;
    padding-left: 22px;
}

.list-disc li:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 8px;
}

.list-disc li+li {
    margin-top: 10px;
}

.instructions__list {
    margin-top: 25px;
    font-weight: 600;
}

.instructions__btn {
    margin-top: 36px;
}

/* Warehouse */

.warehouse {
    background-color: #37B34A;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.warehouse__list {
    margin: 25px 0;
}

.warehouse__image {
    position: absolute;
    bottom: -70px;
    left: 0;
}

.warehouse__image img {
    vertical-align: top;
}

.component-desq {
    margin-bottom: 16px;
}

.certificates {
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #37B34A;
}

.certificates__wrap {
    margin-top: 50px;
}

.certificates__image + .certificates__image {
    margin-left: 20px;
}

.certificates__image-layer {
    position: relative;
}

.certificates__image-layer::before {
    content: '';
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 507px;
    height: 566px;
    background: url('../images/sert3-layer.png') no-repeat top left;
}

/* Delivery */

.delivery {
    background-color: #37B34A;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.delivery__wrap {
    margin-top: 50px;
}

.delivery__title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.delivery__text {
    margin-left: 16px;
}

.delivery__desq {
    line-height: 1.2;
}

/* Foto */

.foto {
    background-color: #37B34A;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.foto::before {
    content: '';
    position: absolute;
    top: -78px;
    right: 0;
    width: 838px;
    height: 251px;
    background: url('../images/foto-bg-layer.png') no-repeat top left;
}

.foto__item {
    width: 294px;
}

.foto__item + .foto__item {
    margin-left: 20px;
}

.foto__item-img {
    border-radius: 30px;
}

.testimonials {
    background-color: #37B34A;
    border-radius: 30px;
    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
}

.testimonials__slider {
    margin-top: 50px;
}

.testimonials__top {
    margin-bottom: 32px;
}

.testimonials__rating {
    margin-left: auto;
}

.testimonials__item {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    border-radius: 30px;
    background-color: #30A642;
}

.testimonials__name {
    margin-left: 16px;
}

.testimonials__title {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: bold;
}

.testimonials__desq {
    margin-bottom: 32px;
    line-height: 1.2;
}

.testimonials__foto img {
    border-radius: 20px;
}

/* Footer */

.footer {
    margin-top: 30px;
}

.footer__main {
    width: 543px;
    background-color: #37B34A;
    border-radius: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer__main-top {
    margin-bottom: 32px;
    width: 100%;
}

.footer__grafic {
    width: 100%;
    padding: 10px 20px;
    margin-left: 80px;
    background-color: #30A642;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    position: relative;
    z-index: 10;
}

.footer__grafic::after {
    content: '';
    background-color: #30A642;
    position: absolute;
    top: 0;
    right: -70px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer__menu-top {
    text-transform: uppercase;
    padding-bottom: 38px;
    margin-bottom: 38px;
    background: url('../images/footer-line.png') no-repeat left bottom;
    margin-right: -80px;
}

.footer__item-top {
    width: 150px;
    margin-bottom: 25px;
}

.footer__menu-bottom {
    margin-bottom: 35px;
}

.footer__item-bottom {
    width: 115px;
}

.footer__copyright {
    font-size: 10px;
    opacity: 0.5;
}

.footer__link-bottom {
    opacity: 0.8;
    text-decoration: underline;
}

.footer__form {
    background-color: #0B3E12;
    background-image: url('../images/form-bg.png');
    background-repeat: no-repeat;
    background-position: 100px bottom;
    border-radius: 30px;
    width: 800px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer__form-title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
}

.footer__form-text {
    width: 315px;
}

.footer__form-group {
    width: 320px;
}

.form__input {
    width: 100%;
    border-radius: 200px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: transparent;
    color: #fff;
    padding: 20px 32px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 16px;
}

.form__input::placeholder {
    color: rgba(255,255,255,0.6);
}

.form__input:focus {
    outline: none;
}

.btn-order--form {
    text-align-last: left;
    color: #0B3E12;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(29, 32, 29, 0.39), 0 18px 18px 0 rgba(29, 32, 29, 0.34), 0 42px 25px 0 rgba(29, 32, 29, 0.2), 0 74px 30px 0 rgba(29, 32, 29, 0.06), 0 115px 32px 0 rgba(29, 32, 29, 0.01);
}

.btn-order--form::after {
    background-image: url('../images/btn-order-icon-form.png');
}

.footer__form-desq {
    margin-top: 24px;
    padding: 0 20px;
    opacity: 0.67;
    line-height: 1.2;
}

/* Media */
@media (max-width: 1400px) {
    .advantages__item {
        max-width: 250px;
    }
    .col-3 {
        max-width: 340px;
    }
    .warehouse__container {
        padding-bottom: 240px;
    }
    .certificates__image {
        width: 100%;
        max-width: 347px;
    }
    .certificates__image + .certificates__image {
        margin-top: 10px;
    }
    .certificates__image img {
        margin: auto;
    }
    .foto__wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    .foto__item {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .foto__item + .foto__item {
        margin-left: 0;
    }
    .footer__main {
        order: 2;
    }
    .footer__form {
        margin-bottom: 20px;
    }
    .footer__main, .footer__form {
        width: 100%;
    }
    .footer__form-text {
        width: 60%;
    }
    .footer__form-group {
        width: 40%;
    }
    .footer__menu-top {
        background-repeat: repeat-x;
    }
    .footer__item-top {
        width: auto;
        margin-right: 30px;
    }
}

@media (max-width: 1340px) {
    .nav__link+.nav__link {
        margin-left: 20px;
    }
    .nav-secondary {
        margin-left: auto;
    }
    .title-h2 {
        font-size: 40px;
    }
    .advantages__wrap {
        flex-wrap: wrap;
    }
    .advantages__main {
        flex: 0 0 100%;
    }
    .advantages__desq {
        margin-top: 30px;
        margin-left: 0;
    }
    .col-3 {
        max-width: none;
        flex: 0 0 100%;
    }
    .col-3+.col-3 {
        margin-left: 0;
        margin-top: 30px;
    }
    .certificates__wrap {
        flex-wrap: wrap;
    }
    .certificates__image {
        max-width: none;
    }
    .certificates__image + .certificates__image {
        margin-left: 0;
    }
    .offer__wrap {
        flex-wrap: wrap;
    }
}

@media (max-width: 1060px) {
    .header-top {
        display: none;
    }
    .header {
        background-image: none;
    }
    .top-mobile {
        display: flex;
    }
    .title {
        font-size: 55px;
    }
    .header-content {
        margin-top: 10px;
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .header::after {
        background-image: url('../images/header-img-mobile.png');
        bottom: -56px;
        left: 50%;
        top: auto;
        right: auto;
        width: 386px;
        height: 525px;
        transform: translateX(-50%);
    }
}

@media (max-width: 800px) {
    .title, .title-h2{
        font-size: 32px;
    }
    .section-desq{
        font-size: 24px;
    }
    .offer {
        padding-bottom: 100px;
    }
    .offer__timer::before {
        top: auto;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .offer__text, .offer__timer {
        width: 100%;
    }
    .timer__wrap {
        margin-bottom: 24px;
    }
    .timer__item {
        min-width: auto;
        padding-right: 25px;
    }
    .timer__item + .timer__item {
        padding-left: 25px;
    }
    .timer__value span {
        font-size: 36px;
    }
    .timer__desq {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .timer__btn {
        margin: 0 auto;
    }
    .advantages__item {
        flex: 0 0 100%;
        max-width: none;
    }
    .certificates__image-layer::before {
        width: 310px;
        height: 378px;
        background-image: url('../images/sert3-layer-mobile.png');
    }
    .certificates__image.certificates__image-layer {
        margin-top: 30px;
    }
    .foto::before {
        top: -50px;
        width: 400px;
        height: 120px;
        background-image: url('../images/foto-bg-layer-mobile.png');
    }
    .foto__item {
        width: 100%;
        margin-right: 0;
    }
    
    .footer__form-text, .footer__form-group {
        width: 100%;
    }
    .footer__form-title {
        margin-bottom: 50px;
    }
    .footer__item-top {
        width: 150px;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .offer__timer {
        padding: 20px 28px;
    }
    .timer__value span {
        font-size: 18px;
    }
    .timer__item {
        padding-right: 18px;
    }
    .timer__item+.timer__item {
        padding-left: 18px;
    }
    .timer__value span {
        font-size: 32px;
    }
    .certificates__image-layer::before {
        width: 310px;
        height: 327px;
    }
    .footer__grafic {
        margin-left: 30px;
    }
    .footer__form-title {
        font-size: 32px;
    }
    .footer__form-title {
        display: none;
    }

    .footer__form-text::before {
        content: 'Це твій шанс';
        display: block;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__form-text::after {
        content: 'Змінити життя!';
        display: block;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 420px) {
    .wrapper {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .top-mobile {
        display: flex;
    }
    .header {
        min-height: auto;
    }
    .subtitle {
        max-width: 220px;
    }
    .title{
        font-size: 32px;
    }
    .section-desq{
        font-size: 24px;
    }
    .text-bg::before {
        left: -30px;
    }
    .text-bg.text-small {
        font-size: 24px;
    }
    .header__desq {
        margin-bottom: 265px;
    }
    .header__btn {
        text-align: center;
    }
    .btn-order {
        white-space: nowrap;
    }
    .advantages__wrap {
        padding-bottom: 65px;
    }
    .advantages__footer {
        padding-top: 65px;
    }
    .advantages__image {
        display: none;
    }
    .advantages__desq {
        margin-top: 10px;
        padding-bottom: 270px;
        position: relative;
    }
    .advantages__desq::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 342px;
        height: 298px;
        background-image: url('../images/advantages-pic-mobile.png');
    }
    .advantages__list {
        margin-top: 32px;
    }
    .advantages__item {
        padding-bottom: 30px;
    }
    .col-3+.col-3 {
        margin-top: 10px;
    }
    .instructions {
        position: relative;
        padding-bottom: 108px;
    }
    .instructions__btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .warehouse__container {
        padding-bottom: 180px;
    }
    .warehouse__desq {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .foto::before {
        top: auto;
        bottom: 0;
        z-index: 100;
        width: 380px;
    }
    .testimonials__item {
        max-width: 280px;
    }
    .footer__menu-top {
        margin-right: 0;
    }
    .footer__grafic::after {
        right: -30px;
    }
    .footer__item-bottom {
        margin-bottom: 10px;
    }
}