/* My reset */

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 26px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 100px;
    line-height: 1;
    text-align: center;
}

.btn--primary {
    background: #3FB8C1 linear-gradient(to left, #199478, #41A790);
    color: #fff;
}

.btn--secondary {
    padding: 22px 50px;
    background-color: #fff;
    color: #003427;
}

.btn--outline {
    border: 1px solid #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.btn--outline::before {
    content: '';
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url('../images/btn-play.svg');
    display: inline-block;
    margin-right: 15px;
}

.btn--about {
    background-color: #fff;
    color: #228891;
    display: flex;
    align-items: center;
}

.btn--about::before {
    content: '';
    width: 16px;
    height: 10px;
    vertical-align: middle;
    background: url('../images/btn-arrow.svg');
    margin-right: 15px;
}

.btn--contact {
    background: #3FB8C1 linear-gradient(to left, #199478, #41A790);
    color: #fff;
}

.btn--contact::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/whatsapp-btn.svg');
}

.btn--contact-outline {
    padding: 14px 38px;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn--contact-outline::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/whatsapp-btn.svg');
}

.btn--light {
    display: inline-flex;
    align-items: center;
    padding: 15px 37px;
    background: #3FB8C1 linear-gradient(to left, #199478, #41A790);
}

.header {
    padding: 25px 0;
}

.header__row {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

.menu__item + .menu__item {
    margin-left: 30px;
}

.logo {
    margin-left: auto;
}

.header__social {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.header__social-link + .header__social-link {
    margin-left: 20px;
}

.hamburger {
    display: none;
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.hamburger span,
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 5px;
    width: 30px;
    height: 2px;
    background-color: #0C6F68;
}

.hamburger::before {
    top: 12px;
}

.hamburger::after {
    bottom: 12px;
}

.header__row--openmenu {
    position: relative;
    flex-wrap: wrap;
}

.header__row--openmenu::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
}

.header__row--openmenu .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 15px;
}

.header__row--openmenu .header__social {
    display: block;
    order: 3;
    margin-left: 0;
}

.header__row--openmenu svg path {
    fill: #199478;
}

.hero {
    background: linear-gradient(180deg, rgba(0, 52, 39, 0) 87.41%, #003427 100%),
                url('../images/hero.jpg') no-repeat 0 0/cover;
    height: 100vh;
    padding-top: 100px;
    
}

.hero__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__box {
    display: flex;
    padding: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(12px);
    color: #fff;
}

.hero__info {
    margin-left: 40px;
}

.hero__logo,
.hero__info {
    flex-basis: 50%;
}

.hero__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
}

.hero__desq {
    margin-bottom: 50px;
}

.hero__buttons {
    display: flex;
    gap: 20px;
}

/* Audio */

.audio {
    padding: 96px 0;
    background-color: #003427;
}

.audio__wrap {
    display: flex;
    gap: 60px;
}

.audio__info {
    flex-basis: 560px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.audio__title {
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
}

.audio__desq {
    font-size: 20px;
}

.audio__price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 560px;
    margin-top: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: #0B5A48;
}

.audio__price-value {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.audio__price-value span {
    display: block;
    font-size: 24px;
    color: #ACC0BB;
    text-decoration: line-through;
}

.audio__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.audio__content {
    flex-basis: 520px;
}

.audio__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 3px solid #ACC0BB;
}

.audio__item + .audio__item {
    margin-top: 30px;
}

.audio__name {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.audio__name span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.audio__controls {
    margin-left: auto;
}

.play {
    width: 30px;
    height: 30px;
    background: url('../images/play.svg');
    border: none;
    cursor: pointer;
}

.pause {
    width: 30px;
    height: 30px;
    background: url('../images/pause.svg');
    border: none;
    cursor: pointer;
}

/* Contacts */

.contacts {
    padding: 175px 0;
    background: #FAFAFA url('../images/contacts-bg.png') no-repeat 0 0/cover;
}

.contacts__wrap {
    display: flex;
}

.contacts__subtitle {
    margin-bottom: 10px;
    font-size: 20px;
}

.contacts__title {
    max-width: 350px;
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
}

.contacts__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: auto;
}

.contacts__main {
    flex-basis: 475px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.contacts__info {
    max-width: 270px;
    padding: 33px;
    background-color: #F4F4F4;
}

.contacts__info + .contacts__info {
    margin-left: 20px;
}

.contacts__info-icon {
    margin-bottom: 85px;
}

.contacts__info-title {
    margin-bottom: 15px;
    max-width: 160px;
}

.contacts__info-desq {
    font-weight: 600;
    font-size: 20px;
}

/* Footer */

.footer__copy {
    padding: 15px 0;
    background-color: #212121;
    color: #ccc;
    text-align: center;
}

.footer__inner {
    padding-top: 48px;
    padding-bottom: 70px;
    background-color: #000;
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__subtitle {
    margin-bottom: 20px;
    color: #ccc;
}

.footer__logo {
    display: block;
    width: 375px;
    margin-bottom: 20px;
}

.footer__note {
    margin-bottom: 43px;
    font-size: 12px;
    font-style: italic;
    color: #ccc;
}

.footer__buttons {
    display: flex;
    gap: 17px;
}

.footer__menu {
    list-style: none;
}

.footer__menu-item {
    margin-bottom: 20px;
}

.footer__info {
    flex-basis: 240px;
}

.footer__social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.footer__pay {
    border: 1px dashed #565656;
    border-radius: 15px;
    padding: 18px;
    text-align: center;
}

.footer__pay-title {
    margin-bottom: 20px;
}

.footer__pay-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Media */

@media (max-width: 1080px) {
   

    .hamburger {
        display: flex;
    }

    .header__social,
    .header .btn {
        display: none;
    }

    .menu {
        position: absolute;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .3s ease;
    }

    ul.menu--open {
        transform: translateY(0);
        opacity: 1;
        position: relative;
        display: block;
        width:100%;
        margin-top: 50px;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        order: 2;
        color: #fff;
        border-top: 1px solid #fff3;
        border-bottom: 1px solid #fff3;
    }

    .logo {
        margin-left: 0;
    }

    .hero__box {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .hero__info {
        margin-left: 0;
    }

    .hero__buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .audio__wrap {
        flex-direction: column;
        text-align: center;
    }
    
    .audio__title {
        font-size: 24px;
    }

    .audio__price-info {
        margin-top: 50px;
        width: 100%;
        max-width: none;
        flex-direction: column;
    }

    .contacts__wrap {
        flex-direction: column;
    }

    .contacts__main {
        margin-bottom: 20px;
    }

    .contacts__info {
        width: 100%;
        max-width: none;
    }

    .contacts__info + .contacts__info {
        margin-left: 0;
        margin-top: 20px;
    }

    .contacts__info-icon {
        float: left;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__social {
        justify-content: flex-start;
        gap: 43px;
    }

    .footer__main,
    ul.footer__menu {
        margin-bottom: 40px;
    }

    .footer__pay {
        text-align: left;
    }

    .footer__pay-icons {
        justify-content: flex-start;
    }

}