html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 3px;
    color:#f3d92c;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #f3d92c; 
    border-radius: 3px;
    width: 3px;
    transition: all .4s ease;
}
  
::-webkit-scrollbar-track {
    background: #0f051d; 
    border-radius: 3px;
    width: 3px;
}

/* Base */

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

h1 {
    font-size: 100px;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.color {
    color: #f3d92c;
}

.text-bold {
    font-weight: 800;
}

.text-line {
    padding-left: 20px;
    position: relative;
}

.text-line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #f3d92c;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.btn--portfolio {
    line-height: 1.5;
    background-color: #f3d92c;
    color: #212529;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.btn--link {
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
}

.btn--link:hover {
    background-color: #53536a;
    border-color: transparent;
}

.btn--send {
    margin-top: 20px;
    border: 1px solid #53536a;
    padding: 10px 20px;
    min-width: 120px;
    color: #fff;
    transition: all .4s ease;
}

.btn--send:hover {
    background-color: #2b2348;
    border-color: transparent;
}

/* Hover */

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color, border-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: transparent;
    border-color: #f3d92c;
    color: white;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
}
@keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: 1px solid #53536a;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.hvr-ripple-out:hover:before, 
.hvr-ripple-out:focus:before, 
.hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #0a0c18;
    /* background-image: linear-gradient(90deg, #0a0c18, #270d4a); */
    background-image: linear-gradient(-45deg, #0a0c18, #270d4a);
    background-size: 600% 600%;
    animation: bg1 20s ease infinite;
}

@keyframes bg1 {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* @keyframes bg {
    0%, 100% { background-color: #0f051d; }
    25% { background-color: #270d4a; }
    50% { background-color: #0f051d; }
    75% { background-color: #270d4a; }
} */

body>section {
    padding-top: 100px;
    padding-bottom: 70px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    max-width: 100%;
    vertical-align: top;
}

/* Preloader */

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #10101a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .4s ease;
}

.loader-line {
    width: 300px;
    height: 2px;
    display: inline-block;
    position: relative;
    background: #232338;
    overflow: hidden;
}

.loader-line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 2px;
    background: #f3d92c;
    box-sizing: border-box;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
	0% {
		left: 0;
		transform: translateX(-100%);
	}
	100% {
		left: 100%;
		transform: translateX(0%);
	}
}

.header {
    padding-top: 20px;
    padding-bottom: 70px;
    min-height: 100vh;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    z-index: 20;
}

.burger {
   min-height: 50px;
   width: 55px;
   padding: 0 10px;
}

.burger-line {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.burger::before, 
.burger::after {
    content: "";
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.burger::after {
    margin-bottom: 0;
}

.burger.active {
    position: relative;
    z-index: 20;
}

.burger.active .burger-line {
    opacity: 0;
    transition: opacity 0s;
}

.burger.active:before {
    transform: translateY(8px) rotate(135deg);
}

.burger.active:after {
    transform: translateY(-8px) rotate(-135deg);
}

.header-hero {
    padding-top: 100px;
    text-align: center;
}

/* Menu */

.menu,
.layer-transition {
    background-color: #111;
    background-image: linear-gradient(0deg, #0f051d, #06020c);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateY(-200%);
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-item {
    margin-bottom: 50px;
    font-size: 30px;
}

.menu-link {
    padding: 15px;
    transition: color .4s ease;
}

.menu-link:hover {
    color: #f3d92c;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 100%;
    padding: 0 20px;
    max-width: 1240px;
    transform: translateX(-50%);
}

.telegram-link {
    color: #f3d92c;
    border-bottom: 1px dotted transparent;
    transition: all .4s ease;
}

.telegram-link:hover {
    border-color: #f3d92c;
}

/* About */

.about {
    display: none;
}

.section-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.about-text {
    line-height: 1.2;
}

.about-text p {
    margin-bottom: 20px;
}

.about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 500px;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
}

.about-text {
    width: 50%;
    padding: 20px;
}

.about-title {
    font-size: 38px;
    margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
    display: none;
}

.portfolio-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.portfolio-title a {
    transition: all .4s ease;
}

.portfolio-title a:hover {
    color: #f3d92c;
}

.portfolio-item {
    display: block;
    position: relative;
}

.portfolio-item:before {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all .4s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.portfolio-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.portfolio-item:hover .portfolio-content,
.portfolio-item:hover:before{
    opacity: 1;
    visibility: visible;
}

.portfolio-content-title {
    color: #fff;
    font-size: 20px;
}

/* Contacts */

.contacts {
    display: none;
}

.contacts-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts-wrap {
    padding-top: 70px;
}

.contact-info {
    width: 40%;
}

.contact-form {
    width: 60%;
}

.input-item {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #53536a;
    outline: none;
}

.contact-form textarea {
    height: 130px;
    resize: vertical;
}

form {
    border: 1px solid #53536a;
    padding: 40px;
    box-shadow: 0px 0px 10px #2f274f;
}

.contact-info {
    padding-top: 20px;
}

.contact-info-list>li {
    margin-bottom: 50px;
    font-size: 18px;
    padding-left: 20px;
    position: relative;
}

.contact-info-list>li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #f3d92c;
}

.layer-transition {
    display: none;
}

/* Media */

@media (max-width: 960px) {

    h1 {
        font-size: 70px;
    }

    .about-wrap {
        flex-direction: column;
    }

    .about-image,
    .about-text {
        width: 100%;
    }

    .about-image {
        text-align: center;
    }

    .col-4 {
        width: 50%;
    }

    .header-bottom {
        font-size: 14px;
    }

    .text-line {
        padding-left: 10px;
    }

}

@media (max-width: 600px) {

    body {
        animation: none;
        background-size: 100%;
    }

    .header {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .header-top {
        position: absolute;
        width: 100%;
        top: 20px;
        left: 0;
    }

    .header-hero {
        padding-top: 0;
    }

    .header-bottom {
        flex-wrap: wrap;
        text-align: center;
    }

    .header-bottom-col {
        width: 100%;
        margin-bottom: 10px;
    }

    .header-bottom-col:nth-child(2) {
        order: -1;
    }

    h1 {
        font-size: 50px;
    }

    .text-line:before {
        display: none;
    }

    .col-4 {
        width: 100%;
    }

    .portfolio-item {
        text-align: center;
    }

    .contacts-wrap {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        width: auto;
    }
}

@media (max-width: 500px) {

    .about-title {
        font-size: 30px;
    }

}